<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Asignatura
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre de la Asignatura</ion-label>
    <ion-input [(ngModel)]="subject.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Días</ion-label>
    <ion-select [(ngModel)]="selectedDays" multiple="true">
      <ion-select-option value="Lunes">Lunes</ion-select-option>
      <ion-select-option value="Martes">Martes</ion-select-option>
      <ion-select-option value="Miércoles">Miércoles</ion-select-option>
      <ion-select-option value="Jueves">Jueves</ion-select-option>
      <ion-select-option value="Viernes">Viernes</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngFor="let day of selectedDays">
    <ion-label>{{ day }} - Hora de Inicio</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" presentation="time" [(ngModel)]="startTimes[day]"></ion-datetime>
  </ion-item>
  <ion-item *ngFor="let day of selectedDays">
    <ion-label>{{ day }} - Hora de Finalización</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" presentation="time" [(ngModel)]="endTimes[day]"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Color</ion-label>
    <ion-input [(ngModel)]="color" type="color"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addDays()">Añadir Días</ion-button>
  <ion-button expand="full" color="success" (click)="saveSubject()">Guardar Asignatura</ion-button>
</ion-content>