<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat IA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat IA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="chat-card">
    <ion-card-header>
      <ion-card-title>Chat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list id="chat-messages">
        <ion-item *ngFor="let message of messages" [ngClass]="{'ia-message': message.sender === 'IA', 'user-message': message.sender !== 'IA'}">
          <ion-avatar slot="start" *ngIf="message.sender === 'IA'">
            <img src="https://web.dev/static/articles/building/an-adaptive-favicon/image/example-dark-theme-favico-6a6f6f67bc3e7.png" alt="IA Avatar">
          </ion-avatar>
          <ion-label>
            <h2>{{ message.sender }}</h2>
            <p>{{ message.text }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..."></ion-input>
      <ion-button (click)="sendMessage()" slot="end">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>