<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat IA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat IA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="chat-messages">
    <ion-item *ngFor="let message of messages">
      <ion-avatar slot="start" *ngIf="message.sender === 'IA'">
        <img src="assets/avatar-ia.png" alt="IA Avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-item>
      <ion-input id="message-input" placeholder="Escribe un mensaje..." [(ngModel)]="newMessage"></ion-input>
      <ion-button id="send-button" fill="solid" (click)="sendMessage()">Enviar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>