<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isLoggedIn">
      <ion-button (click)="goBack()" class="back-button">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">
      {{ isRegistering ? 'Registrarse' : 'Iniciar Sesión' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container" *ngIf="!isLoggedIn">
    <!-- Registro -->
    <ion-item *ngIf="isRegistering">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="registerUsername"></ion-input>
    </ion-item>
    <ion-item *ngIf="isRegistering">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="registerPassword" type="password"></ion-input>
    </ion-item>
    <ion-button class="custom-button" expand="block" color="primary" (click)="register()" *ngIf="isRegistering">
      Registrarse
    </ion-button>

    <!-- Inicio de sesión -->
    <ion-item *ngIf="!isRegistering">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item *ngIf="!isRegistering">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-button class="custom-button" expand="block" color="primary" (click)="login()" *ngIf="!isRegistering">
      Iniciar Sesión
    </ion-button>

    <!-- Botón de alternar entre registro e inicio -->
    <ion-button class="custom-button secondary-button" expand="block" color="secondary" (click)="toggleRegister()">
      {{ isRegistering ? 'Ya tengo una cuenta' : 'Crear una cuenta' }}
    </ion-button>
  </div>

  <!-- Sesión iniciada -->
  <div class="logged-in-container" *ngIf="isLoggedIn">
    <h2 class="welcome-message" [ngStyle]="{'color': loggedInMessageColor}">
      Hola, {{ username }}
    </h2>
    <ion-button class="logout-button" expand="block" color="danger" (click)="logout()">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
