<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item *ngIf="!isLoggedIn">
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item *ngIf="!isLoggedIn">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button expand="full" color="primary" (click)="login()" *ngIf="!isLoggedIn">Iniciar Sesión</ion-button>
  
  <ion-item *ngIf="isLoggedIn">
    <ion-label>Bienvenido, {{ username }}</ion-label>
  </ion-item>
  <ion-button expand="full" color="danger" (click)="logout()" *ngIf="isLoggedIn">Cerrar Sesión</ion-button>
</ion-content>