.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  ion-avatar {
    width: 100px;
    height: 100px; 
  }

  .welcome-message {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  