<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ isRegistering ? 'Registrarse' : 'Iniciar Sesión' }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="!isLoggedIn">
    <ion-item *ngIf="isRegistering">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="registerUsername"></ion-input>
    </ion-item>
    <ion-item *ngIf="isRegistering">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="registerPassword" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="register()" *ngIf="isRegistering">Registrarse</ion-button>
    
    <ion-item *ngIf="!isRegistering">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item *ngIf="!isRegistering">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="login()" *ngIf="!isRegistering">Iniciar Sesión</ion-button>
    
    <ion-button expand="full" color="secondary" (click)="toggleRegister()">
      {{ isRegistering ? 'Ya tengo una cuenta' : 'Crear una cuenta' }}
    </ion-button>
  </div>
  
  <div *ngIf="isLoggedIn">
    <h2>Hola, {{ username }}</h2>
    <ion-button expand="full" color="danger" (click)="logout()">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>