<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Horario de Clases
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToLogin()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <span *ngIf="userName" class="greeting-message">Hola, {{ userName }}!</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let day of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ day }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let subject of getSubjectsByDay(day)">
                <ion-label>
                  {{ subject.name }}<br>
                  <span *ngFor="let d of subject.days" [ngStyle]="{'background-color': d.color}">
                    {{ d.startTime }} - {{ d.endTime }}
                  </span>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>